@CHARSET "ISO-8859-1";

#chatContainer{
	float: left;
	width: 20%;
}

#canvasContainer{
	float: left;
	width: 45%;
	margin: 5px;
	padding-left: 5%;
}

#historyContainer{
	float: left;
	width: 25%;
	margin: 5px;
}

.leftStyle{
	float: left;
}

.stapleContainer{
	padding: 10px;
	margin: 5px;
	width: 100%;
}

#userInput{
	resize: none;
	overflow-y: auto;
	overflow-x: hidden;
}

#chatBox{
	overflow-y: auto;
	overflow-x: hidden;
	/*width: 20%;*/
	height: 500px;

	border: 1px solid #CCC;
}

textarea, input[type=text]{
	/*width: 60%;*/
	/*float: right;*/
	/*padding: 6px 12px;*/
	font-size: 14px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	line-height: 1.4;
	color: #555;
	background-color: #FFF;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea:focus, textarea:active{
	border-color: #66AFE9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, .6);
	-webkit-box-shadow:  inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.buttonGroup{

}

button{
	cursor: pointer;
	width: 64px;
	height: 54px;
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: 50%;
}

button:hover{
	background-color: #CCC;
}

button[state = active]{
	background-color: #08F;
}

#line{
	background-image: url("./images/line_transparent.png");
}

#rect{
	background-image: url("./images/rect_transparent.png");
}

#circle{
	background-image: url("./images/circle_transparent.png");
}

#polygon{
	background-image: url("./images/polygon.png");
}

#freeHand{
	background-image: url("./images/freeHand_transparent.png");
}

#clear{
	background-image: url("./images/clear_transparent.png");
}

#deleteOne{
	background-image: url("./images/delete_button_transparent.png");
}

#deleteAll{
	background-image: url("./images/clear_transparent.png");
}

#canvas{
	margin-top: 5px;
	border: 1px solid #CCC;
}

#history{
	border: 1px solid #CCC;
	height: 500px;
	width: 300px;
	overflow: auto;
	margin-bottom: 20px;
	background-color: #FFF;
}

.historyElement{
	background-color: #00FF00;
	border: 1px solid #000;
}

.historyElement:hover{
	background-color: #FF0000;
	cursor: pointer;
}

.historyElement:focus{
	background-color: #0066FF;
}


/*
* CSS for the collapsed polygon element
*/
.panel-heading > h4 > a.collapsed:before{
  position: relative;
  float: left;
  content: '';
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 4.5px;
  border-left: 5px solid #231E64;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

}

.panel-heading > h4 > a:before{
  position: relative;
  float: left;
  content: '';
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 7px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #231E64;
  border-bottom: 5px solid transparent;

}

.panel-heading > h4 > a:hover{
  cursor: pointer;
}
