@CHARSET "ISO-8859-1";

body{
	position: relative;
	background: linear-gradient(to top, #49BCE6, #231E64);
}

#header, #footer{
	width: 100%;
	height: 64px;
	text-align: center;
	background-color: #63C9E9;
	border: 2px solid #222;
}

#header{
	padding-bottom: 10px;
}

#footer{
	float: left;
	padding-top: 10px;
}

#chatContainer{
	float: left;
	width: 20%;
}

#canvasContainer{
	position: relative;
	float: left;
	width: 30%;
	margin: 5px;
	padding-left: 3%;
	padding-right: 3%;
}

#historyContainer{
	float: left;
	width: 20%;
	margin: 5px;
}

#createdPictureContainer{
	float: left;
	width: 20%;
	margin: 5px;
}

.leftStyle{
	float: left;
}

.stapleContainer{
	padding: 10px;
	margin: 5px;
	width: 100%;
}

#userInput{
	resize: none;
	overflow-y: auto;
	overflow-x: hidden;
}

#chatBox{
	overflow-y: auto;
	overflow-x: hidden;
	/*width: 20%;*/
	height: 350px;
	background-color: #FFF;

	border: 1px solid #CCC;
}

textarea, input[type=text]{
	/*width: 60%;*/
	/*float: right;*/
	/*padding: 6px 12px;*/
	font-size: 14px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	line-height: 1.4;
	color: #555;
	background-color: #FFF;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea:focus, textarea:active{
	border-color: #66AFE9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, .6);
	-webkit-box-shadow:  inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.buttonGroup{

}

button{
	cursor: pointer;
	width: 64px;
	height: 54px;
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: 50%;

	border: 1px solid #CCC;
}

button:hover{
	background-color: #CCC;
}

button[state = active]{
	background-color: #08F;
}

#line{
	background-image: url("./images/line_transparent.png");
}

#rect{
	background-image: url("./images/rect_transparent.png");
}

#circle{
	background-image: url("./images/circle_transparent.png");
}

#polygon{
	background-image: url("./images/polygon.png");
}

/*#freeHand{
	background-image: url("./images/freeHand_transparent.png");
}*/

#clear{
	background-image: url("./images/clear_transparent.png");
}

#deleteOne{
	background-image: url("./images/delete_button_transparent.png");
}

#deleteAll{
	background-image: url("./images/clear_transparent.png");
}

#canvas{
	position: absolute;
	margin-top: 5px;
	border: 1px solid #CCC;
	background-color: #FFF;
}

#previewCanvas{
	position: absolute;
	margin-top: 5px;
	border: 1px solid #CCC;
}

#createdPicture{
	border: 1px solid #CCC;
	margin-top: 5px;
	background-color: #FFF;
}

#history{
	border: 1px solid #CCC;
	height: 500px;
	width: 300px;
	overflow: auto;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: #FFF;
}

#saveAsXML{
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url("./images/saveToFile.png");
}

#savePicture{
	position: absolute;
	padding-top: 52px;
	padding-right: 62px;
	background-image: url("./images/saveImage_transparent.png");
	background-repeat: no-repeat;
}

.historyElement{
	background-color: #00FF00;
	border: 1px solid #000;
}

.historyElement:hover{
	background-color: #FF0000;
	cursor: pointer;
}

.historyElement:focus{
	background-color: #0066FF;
}

.typeButton{
	/*width: 64px;
	height: 54px;*/
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #FFF;
	background-position: 50%;
	color: #333333;
	padding-top: 40px;
	padding-bottom: 0px;
	padding-right: 64px;
	border: 1px solid #CCC;
}

.typeButton:hover{
	cursor: pointer;
	background-color: #CCC;
}

#createdPictureBG{
	position: relative;
	height: 54px;
}
